body {
	font-family: 'Open Sans', sans-serif;
	background-color: #DCDCDC;
	box-sizing: border-box;
}

#walk {
	background-color: #FFFFFF;
	border-style: solid;
	border-color: #000000;
	border-width: 2px;
	width 600px;
	height: 500px;	
}

.main {
	margin: auto;
	width: 100%;
	text-align: center;
	display: block;
}

h1 {
	text-align: center;
}

#num {
	font-size: 26px;
	text-align: center;
	display: block;
	padding: 10px;
}

#slider, #slider2, #slider3 {
	margin: auto;
	display: block;
	width: 570px;
}

#label {
	display: inline-block;
}

#num_p, #num_e, #num_t {
	display: inline-block;
	width: 30px;
	margin-left: 15px;
}