body {
	font-family: 'Open Sans', sans-serif;
	background-color: #DCDCDC;
	box-sizing: border-box;
}

#walk {
	background-color: #FFFFFF;
	border-style: solid;
	border-color: #000000;
	border-width: 2px;
	width: 600px;
	height: 500px;	
}

.main {
	margin: auto;
	width: 100%;
	text-align: center;
	display: block;
}

h1 {
	text-align: center;
}

.num {
	font-size: 26px;
	text-align: center;
	display: block;
	padding: 10px;
}

#slider, #slider2, #slider3 {
	margin: auto;
	display: block;
	width: 570px;
}

.label {
	display: inline-block;
}

#num_p, #num_e, #num_t {
	display: inline-block;
	width: 30px;
	margin-left: 15px;
}

/* Buttons */
.buttons-container {
	width: 600px;
	margin: 25px auto;
}

.button-format {
	display: inline-block;
	text-align: center;
	width: 50%;
}

.button {
  background-color: #FFFFFF;
  color: #000000;
  text-align: center;
  text-decoration: none;
	width: 100px;
	padding: 16px;
	border-radius: 3px;
  font-size: 18px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.start-walk {
	border-width: 2px;
	border-style: solid;
	border-color: green;
}

.start-walk:hover {
	color: #FFFFFF;
	background-color: green;
}

.stop-walk {
	border-width: 2px;
	border-style: solid;
	border-color: red;
}

.stop-walk:hover {
	color: #FFFFFF;
	background-color: red;
}